input[type="checkbox"] {
  width: 18px;
  height: 18px;
}
label {
  font-size: 1.5rem;
}
.checkbox-1 {
  display: flex;
  justify-content: space-around;
  gap: 15px;
  margin-bottom: 10px;
}
.array {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
}
table {
  width: 80%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #ddd;
  font-size: 15px;
  line-height: 1.5;
  color: #333;
  margin-bottom: 10px;
  border-radius: 15px;
}

th {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
  background-color: #3850a5;
  color: white;
}
td {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}
.color-grid {
  color: black;
  background-color: #cdd0d9;
}
.color-yellow {
  color: #f4f4f4;
  background-color: #808642;
}
